@model databaseHempPlantations.Models.Tasting

<h1>Event 2</h1>

<form id="myForm" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="AgronomistID" class="control-label">Agronomist</label>
        <select asp-for="AgronomistID" class="form-control" asp-items="ViewBag.AgronomistID"></select>
    </div>

    <div class="form-group">
        <label asp-for="ConsumerID" class="control-label">Consumer</label>
        <select asp-for="ConsumerID" class="form-control" asp-items="ViewBag.ConsumerID"></select>
    </div>

    <div class="form-group">
        <label asp-for="ProductID" class="control-label">Product</label>
        <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
    </div>

    <div class="form-group">
        <label for="date">Date:</label>
        <input type="datetime" id="date" name="ReturnDate" required />
        <label>Вводити у такому форматі(скопіюйте та змініть) - 2019-05-08T12:00:00+03:00</label>
    </div>

    <div class="form-group">
        <label asp-for="Rating" class="control-label">Rating tasting</label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
