@model databaseHempPlantations.Models.TravelAssignment

<h1>Create Travel Assignment</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="AgronomistID" class="control-label">Agronomist</label>
        <select asp-for="AgronomistID" class="form-control" asp-items="ViewBag.AgronomistID"></select>
    </div>

    <div class="form-group">
        <label asp-for="TripID" class="control-label">Trip</label>
        <select asp-for="TripID" class="form-control" asp-items="ViewBag.TripID"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to TravelAssignment List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
