
<a href="#">
    <img src="https://app.eraser.io/workspace/Ksv0HPMksSzBHjn45Lr9/preview?elements=FDXWXjSxHxhn3__xHKnrEA&type=embed" 
         width="1384" 
         height="1822" 
         alt="Smaller Image">
</a>
