@model IEnumerable<int>

<h1>Agronomists with Distinct Hemp Sorts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Agronomist ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agronomistId in Model)
        {
            <tr>
                <td>@agronomistId</td>
            </tr>
        }
    </tbody>
</table>
