@model IEnumerable<int>

<h1>Products Purchased by Consumer</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productId in Model)
        {
            <tr>
                <td>@productId</td>
            </tr>
        }
    </tbody>
</table>
