@model IEnumerable<int>

<h1>Distinct Consumer</h1>

<table class="table">
    <thead>
        <tr>
            <th>Consumer ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerId in Model)
        {
            <tr>
                <td>@customerId</td>
            </tr>
        }
    </tbody>
</table>
